.bolded {
        font-weight: bold;
        font-size: 17px;
}

.indented {
        text-indent: 50px;
        margin: 0;
}

ul.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: grey;
}

li.menu {
        float: left;
}

li.bolded {
        font-weight: bold;
}


li a {
        font-weight: bold;
        color: white;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

li.normal {
        font-weight: normal;
}

li a:hover {
        background-color: #111;
}