body {
    background: #7ba4d4;
}

p {
    font-weight: bold;
    font-size: 20px;
}

.bolded {
    font-weight: bold;
    font-size: 17px;
}

.indented {
    text-indent: 50px;
    margin: 0;
}

.italicized {
    font-style: italic;
}

li.bolded {
    font-weight: bold;
}

li.normal {
    font-weight: normal;
}

/*#resume_pdf {
    display: none;
}*/
