body {
        background-color: #7ba4d4;
}

h2 {
        text-align: center;
}

p {
        font-weight: bold;
        font-size: 20px;
}

ul.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: grey;
}

li.menu {
        float: left;
}

li a {
        font-weight: bold;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

li a:hover {
        background-color: #111;
}

img {
        display: block;
        margin: auto;
}

.caption {
        text-align: center;
}

#bio {
        display: none;
}

#home {
        display: block;
}

#resume {
        display: none;
}

.bolded {
        font-weight: bold;
        font-size: 17px;
}

.indented {
        text-indent: 50px;
        margin: 0;
}

li.bolded {
        font-weight: bold;
}

li.normal {
        font-weight: normal;
}

#resume_pdf {
        display: none;
}